{% extends 'base.html.twig' %}
{% block content %}
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-items set-bg" data-setbg="{{asset('img/fishing.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span class="text-light">Camping gear</span>
                            <h1 class="text-light">Cheapest in the market</h1>
                            <p class="text-light">are you ready for a night out in the wild?</p>
                            <a href="{{ path('shop') }}" class="btn btn-danger">Shop Now</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="{{asset('img/camping.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span class="text-light">Fishing rods</span>
                            <h1 class="text-light">Greatest quality</h1>
                            <p class="text-light">Fishing is easier than ever with our gear</p>
                            <a href="{{ path('shop') }}" class="btn btn-danger">Shop Now</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}