{% extends 'search.html.twig' %}

{% block search %}
<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3> new claim </h3>
        </div><!--company-title end-->
        <div class="companies-list">
            <div class="row">
                <div class="post-project-fields">
                    <div class="col-lg-6">
                        <div class="main-ws-sec">
                            <div class="product-feed-tab current" id="feed-dd">
                                <div class="post-project">
                                    <div class="post-project-fields">
                                        <div class="row">
                                            {{ form_start(form) }}
                                                {{ form_widget(form) }}
                                                <input type="submit" value="Create" />
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                  </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
