{% extends 'adminBase.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
 <div class="focused">

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input  style="color:#b3d7ff" type="submit" value="Create" />
    {{ form_end(form) }}

     <button  style="color: #b3d7ff"> <a href="{{ path('promotion_index') }}">Back to the list</a></button>

</div>
    </div>
</div>

    {% endblock %}
